*{
    margin: 0;
    padding: 0;
}
.trustedBy{
    background-color: rgb(236, 233, 233);
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
    gap: 20px;


    span{
        font-size: 20px;
    }

    b{
        font-size: 20px;

        &:first-child(1){
            font-weight: lighter;
        }
    }
}

.about{
    padding: 50px 100px;
    background-color: rgb(228, 239, 242);
    display: flex;
    gap: 20px;

    &.bg{
        background-color: #0d084d;

        .left{
            color: white;

            p{
                color: white;
                margin: 10px 0px;
            }
            .title{
                color: lightgrey;
            }
        }
        .right{
            img{
                width: 80%;
                margin-left: 30px;
            }
        }
    }

    .left{
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 10px;
        // border: 2px solid black;

        .title{
            display: flex;
            align-items: center;
            gap: 10px;
            margin-top: 10px;
        }
        p{
            color: darkgray;
        }
        h1{
            font-weight: bold;
        }
    }
    .right{
        flex: 1.5;
        // border: 2px solid red;
        display: flex;
        align-items: center;
        // justify-content: center;

        video{
            width: 90%;
        }

    }
}